{% extends 'index.html' %}
{% load staticfiles %}
{% block content %}
    {% load widget_tweaks %}

    <main class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <h1>предложить новость</h1>
                <p style="color: #e74c3c">Возникла непредвиденная ошибка. Попробуйте позже.</p>
            </div>

        </div>
    </main>

{% endblock %}
{% block script %}
    <script type="text/javascript">
        $('textarea').trumbowyg(
            {
                btnsDef: {
                    // Customizables dropdowns
                },
                btns: [
                    ['undo', 'redo'],
                    ['formatting'],
                    'btnGrp-design',
                    ['link'],
                    'btnGrp-justify',
                    'btnGrp-lists',
                    ['foreColor', 'backColor'],
                    ['preformatted'],
                    ['horizontalRule'],
                    ['fullscreen']
                ],
                plugins: {
                    // Add imagur parameters to upload plugin
                    upload: {
                        serverPath: '/media/stories',
                        fileFieldName: 'image',
                        headers: {
                            'Authorization': 'Client-ID 9e57cb1c4791cea'
                        },
                        urlPropertyName: 'data.link'
                    }
                }
            }
        );
    </script>
{% endblock %}